<div class="main_dashboad_wrapper">

  <div class="side_nav">

    <div class="site_logo">
      <img src="../../assets/images/logo.png" alt="">
    </div>

    <div class="side_links">
      <ul>
        <li><a href="#">
            <i class="fas fa-th-large"></i>
            Overview
          </a></li>
        <li><a href="#">
            <i class="fas fa-copy"></i>
            Investment
          </a></li>
        <li><a href="#">
            <i class="fas fa-sync-alt"></i>
            Transactions
          </a></li>
        <li><a href="#">
            <i class="fas fa-share-alt"></i>
            Invite Friends
          </a></li>
        <li><a href="#">
            <i class="fas fa-cloud-download-alt"></i>
            Download statement
          </a></li>
      </ul>
    </div>

    <div class="sideNav_footer">

      <p>
        2019 | Copright - sfs Capital
      </p>

    </div>

  </div>

  <div class="dashboard_body">

    <div class="dasboard_nav">
      <div class="notification">
        <p>
          Hi Andie! you are yet to complete your account setup
        </p>
      </div>
      <div class="user_sett">

        <div class="user_image">
          <img src="../../assets/images/user.png" alt="">
        </div>
        <div class="user_name">
          <p>
            Andie kane <i class="fas fa-angle-down"></i>
          </p>
        </div>

      </div>
    </div>

    <div class="dashboard_body_content">

      <div class="welcome_n_button">

        <div class="welcome">
          <h4>
            Hi, Welcome
          </h4>
        </div>
        <div class="buton">
          <button>
            Invest Now <img src="../../assets/icons/check-circle.png" alt="">
          </button>
        </div>

      </div>

      <div class="cards">

        <div class="first_card">
          <div class="card_title">
            <span>
              Total Invested
            </span>
          </div>
          <div class="amount_invested">
            <span>
              ₦ 35, 001,500.00
            </span>
          </div>
          <div class="plans">
            <span>
              from 15 investment plans
            </span>
          </div>
        </div>

        <div class="second_card">
          <div class="card_title">
            <span>
              Total Invested
            </span>
          </div>
          <div class="amount_invested">
            <span>
              ₦ 35, 001,500.00
            </span>
          </div>
          <div class="plans">
            <span>
              from 15 investment plans
            </span>
          </div>
        </div>

        <div class="third_card">
          <div class="card_title">
            <span>
              Total Invested
            </span>
          </div>
          <div class="amount_invested">
            <span>
              ₦ 35, 001,500.00
            </span>
          </div>
          <div class="plans">
            <span>
              from 15 investment plans
            </span>
          </div>
        </div>
      </div>

      <div class="latest_investments">

        <div class="title">
          <h5>
            Latest Investments
          </h5>
        </div>

        <div class="investment_sections">
          <div class="fix_plan">
            <div class="product_container">

              <div class="invest_products_image">

                <div class="img_btn_link">
                  <a href="#">
                    Fixed Plan
                  </a>
                </div>

                <div class="img_desc">

                  <h4>
                    investment Title
                  </h4>

                  <p class="invest_desc">
                    The Company currently operates in 25 states in...
                  </p>

                </div>
              </div>

              <div class="interest_percentage">

                <p>
                  interest
                </p>
                <p>
                  <span>
                    13% monthly
                  </span>
                </p>

              </div>

              <div class="invest_amount">
                <div class="title">
                  <p>
                    InvestABLE Amount
                  </p>

                  <p>
                    <span>₦ 55,000.00</span>
                    <span> TO </span>
                    <span> ABOVE </span>
                  </p>
                </div>

              </div>

              <div class="investors">
                <p>
                  INVESTORS
                </p>
                <p>
                  200
                </p>
              </div>

              <!-- <div class="invest_product_footer">

                                      <div class="learn_more_link">
                                          <a href="#">
                                              Learn More
                                          </a>
                                      </div>

                                      <div class="invest_now_link">
                                          <a href="#">
                                              Invest now <i class="fas fa-angle-right"></i>
                                          </a>
                                      </div>

                                  </div> -->
            </div>
          </div>
          <div class="inv_chart">
            <div class="chart_title">
              <p>
                Investment chart
              </p>
            </div>

            <div class="chart_section pt-0">

              <canvas id="myChart"></canvas>

              <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                  // The type of chart we want to create
                  type: 'line',

                  // The data for our dataset
                  data: {
                    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                    datasets: [{
                      label: 'My First dataset',
                      backgroundColor: 'rgba(0, 0, 0,0)',
                      borderColor: 'rgb(16, 192, 109)',
                      data: [45, 30, 20, 5, 2, 10, 0]
                    }]
                  },

                  // Configuration options go here
                  options: {}
                });

              </script>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</div>
