<div class="first">
  <div class="inner">
    <div class="left">

      <div class="logo">
        <img src="../assets/images/logo.png" alt="">
      </div>

      <div class="header_title">
        <span>
          Our Mission is to <br> Empower your <br> financial Freedom
        </span>
      </div>

      <div class="header_text">
        <p>
          Do not allow life happen to you, come to us with your dreams
          of a better life for you and your family and we will make it
          happen.
        </p>
      </div>

      <div class="header_btn">

        <a href="" class="start">Get started now</a>
        <a href="" class="learn">Learn more about us</a>

      </div>

    </div>
    <div class="right">

      <div>

        <button class="login" (click)="navigateToLogin()">
          Login
        </button>

      </div>

      <div>
        <button class="signup">
          Signup
        </button>
      </div>



    </div>
  </div>
</div>

<div class="second">

  <div class="second_container">

    <div class="second_title">
      <h4>
        Your guide to financial <br> wellness
      </h4>
    </div>

    <div class="services">
      <div class="each_service">
        <div class="service_icon">
          <div>
            <img src="../assets/icons/service1.png" alt="">
          </div>
        </div>

        <div class="service_title">
          <h4>
            Invest your spare change
          </h4>
        </div>

        <div class="service_text">
          <p>
            Save time, avoid losing work and information, delegate, and track tasks to stay on schedule
          </p>
        </div>
      </div>
      <div class="each_service">
        <div class="service_icon">
          <div>
            <img src="../assets/icons/service2.png" alt="">
          </div>
        </div>

        <div class="service_title">
          <h4>
            Save for later
          </h4>
        </div>

        <div class="service_text">
          <p>
            Get ready for later in life using sfs Later, the easiest way to save for retirement.
          </p>
        </div>
      </div>

      <div class="each_service">
        <div class="service_icon">
          <div>
            <img src="../assets/icons/service3.png" alt="">
          </div>
        </div>

        <div class="service_title">
          <h4>
            Grow your knowledge
          </h4>
        </div>

        <div class="service_text">
          <p>
            Learn how to get more from your money with easy-to-understand articles and videos from
            financial experts.
          </p>
        </div>
      </div>
    </div>


  </div>

</div>

<div class="third">

  <div class="third_up">
    <div class="up_left">
      <img src="../assets/images/up.png" alt="">
    </div>
    <div class="up_right">
      <h4>
        Security that's strong as oak
      </h4>
      <p>
        Do you waste time organizing sticky notes, searching
        your email and apps for to-dos, and figuring out what to work on first?
        Then you need one
        solution to prioritize your tasks, manage your time, and meet your deadlines.
      </p>
    </div>
  </div>

  <div class="third_up">
    <div class="up_right">
      <h4>
        Why you should invest in your future
      </h4>
      <p>
        Do you waste time organizing sticky notes, searching
        your email and apps for to-dos, and figuring out what to work on first?
        Then you need one
        solution to prioritize your tasks, manage your time, and meet your deadlines.
      </p>
    </div>
    <div class="up_left">
      <img src="../assets/images/down.png" alt="">
    </div>

  </div>

</div>

<div class="fourth">

  <div class="second_container">
    <h4>
      What investors like you <b>are</b><br>
      <b>saying about</b> SFS
    </h4>
  </div>

  <div class="comments">

    <div class="each_comments_div">

      <div class="each_comments">

        <div class="name_role">
          <p>
            Fernando Soler
          </p>
          <span>
            Telecommunication Engineer
          </span>
        </div>

        <div class="comment_text">
          <p>
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit
            esse quam nihil molestiae consequatur, vel illum qui dolorem eum
            fugiat quo voluptas nulla pariatur? At vero eos et
          </p>
        </div>

      </div>

      <div class="each_comments">

        <div class="name_role">
          <p>
            Fernando Soler
          </p>
          <span>
            Telecommunication Engineer
          </span>
        </div>

        <div class="comment_text">
          <p>
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit
            esse quam nihil molestiae consequatur, vel illum qui dolorem eum
            fugiat quo voluptas nulla pariatur? At vero eos et
          </p>
        </div>

      </div>

      <div class="each_comments">

        <div class="name_role">
          <p>
            Fernando Soler
          </p>
          <span>
            Telecommunication Engineer
          </span>
        </div>

        <div class="comment_text">
          <p>
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit
            esse quam nihil molestiae consequatur, vel illum qui dolorem eum
            fugiat quo voluptas nulla pariatur? At vero eos et
          </p>
        </div>

      </div>

      <div class="each_comments">

        <div class="name_role">
          <p>
            Fernando Soler
          </p>
          <span>
            Telecommunication Engineer
          </span>
        </div>

        <div class="comment_text">
          <p>
            Quis autem vel eum iure reprehenderit qui in ea voluptate velit
            esse quam nihil molestiae consequatur, vel illum qui dolorem eum
            fugiat quo voluptas nulla pariatur? At vero eos et
          </p>
        </div>

      </div>

    </div>


  </div>

</div>

<div class="footer">

  <div class="second_container">

    <div class="futa_header">

      <div class="text_1">
        <h5>
          Our <br> channels
        </h5>
      </div>
      <div class="text_2">
        <p>
          Get access to sfs life using <br> any of the following plaforms
        </p>
      </div>

    </div>

    <div class="footer_icon_widget">

      <div class="ft_1">

        <div class="icon_img">
          <img src="../assets/icons/v3.png" alt="">
        </div>

        <div class="download_inst">
          <span>
            <i class="fas fa-download"></i> Download on <br> Play Store
          </span>
        </div>

      </div>
      <div class="ft_2">
        <div class="icon_img">
          <img src="../assets/icons/v2.png" alt="">
        </div>

        <div class="download_inst">
          <span>
            <i class="fas fa-download"></i> Download on <br> App Store
          </span>
        </div>
      </div>
      <div class="ft_3">
        <div class="icon_img">
          <img src="../assets/icons/v1.png" alt="">
        </div>

        <div class="download_inst">
          <span>
            <i class="fas fa-download"></i> Get Started <br> Online
          </span>
        </div>
      </div>
      <div class="ft_4">

        <p>
          Contact us for more infomation
        </p>

        <p>
          Info@sfsnigeria.com
        </p>

        <p>
          098-793 079-383
        </p>

      </div>

    </div>

    <div class="last_futa_section">

      <div>
        <a href="#"> FAQ </a>
      </div>
      <div>
        <a href="#"> Terms & Conditions </a>
      </div>
      <div>
        <a href="#"> Privacy Policy </a>
      </div>

    </div>

  </div>

</div>
