<div class="side_nav">

  <div class="site_logo">
    <img src="../../assets/images/logo.png" alt="">
  </div>

  <div class="side_links">
    <ul>
      <li><a href="#">
          <i class="fas fa-th-large"></i>
          Overview
        </a></li>
      <li><a href="#">
          <i class="fas fa-copy"></i>
          Investment
        </a></li>
      <li><a href="#">
          <i class="fas fa-sync-alt"></i>
          Transactions
        </a></li>
      <li><a href="#">
          <i class="fas fa-share-alt"></i>
          Invite Friends
        </a></li>
      <li><a href="#">
          <i class="fas fa-cloud-download-alt"></i>
          Download statement
        </a></li>
    </ul>
  </div>

  <div class="sideNav_footer">

    <p>
      2019 | Copright - sfs Capital
    </p>

  </div>

</div>